.app-drawer {
  background: rgba(0, 0, 0, 1);
  color: white;
}

.caption {
  color: white;
  font-size: small;
}

.card {
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
}

.arrow-button {
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  color: white;
}

button.search {
  background: @theme_base_color;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px #999;
}

dimming {
  background: rgba(0, 0, 0, 0.12);
}

shadow.left {
  background: linear-gradient(to right,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
  min-width: 81px;
}

shadow.right {
  background: linear-gradient(to left,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
  min-width: 81px;
}

shadow.up {
  background: linear-gradient(to bottom,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
  min-height: 81px;
}

shadow.down {
  background: linear-gradient(to top,
                              rgba(0, 0, 0, 0.06),
                              rgba(0, 0, 0, 0.0594) 3.125%,
                              rgba(0, 0, 0, 0.0588) 6.25%,
                              rgba(0, 0, 0, 0.057)  9.38%,
                              rgba(0, 0, 0, 0.0552) 12.5%,
                              rgba(0, 0, 0, 0.0492) 18.75%,
                              rgba(0, 0, 0, 0.0426) 25%,
                              rgba(0, 0, 0, 0.0276) 37.5%,
                              rgba(0, 0, 0, 0.021)  43.75%,
                              rgba(0, 0, 0, 0.015)  50%,
                              rgba(0, 0, 0, 0.0102) 56.25%,
                              rgba(0, 0, 0, 0.0066) 62.5%,
                              rgba(0, 0, 0, 0.0042) 68.75%,
                              rgba(0, 0, 0, 0.0024) 75%,
                              rgba(0, 0, 0, 0.0006) 87.5%,
                              rgba(0, 0, 0, 0));
  min-height: 81px;
}

